.jumb {
    text-align: center;
    padding-top: 38px;
    height: 100px;
    background-color: black;
    color: white;
    background-size: cover;
}

p1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Times', sans-serif;
    font-weight: 300;
}

h {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.page {
    width: 100%;
    height: 20px;
    background-color: darkgray;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.feature {
    height: 35px;
    background-color: lightgrey;
    line-height: 40px;
}

.feature:hover {
    background-color: goldenrod;
    text-decoration: none;}

body  a:hover{
    text-decoration: none
}

h1 {
    font-size: 32px;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1px;
    color: black;
}

h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 3px;
}
    
h4{
    font-size: 13px;
}
    

p {
    text-align: center;
}

.section-title {
    text-align: center;
    font-weight: 200;
}

.short {
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    text-align: center;
}

.container1{
    text-align: center
}

/* note header */

#portfolioSection {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
}

#portfolioSection .row {
    margin-left: 0;
    margin-right: 0;
     align-items: center;
}

.pages {
    width: 100%;
    height: 250px;
    background-color: lightgray;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    image-orientation: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#slideshow .item{
    height: 250px;
}

@media screen and (max-width: 767px){
    #slideshow .item{
        height: 250px;
    }
    #slideshow .item img{
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
}

#page1{
    background-image: url(../image/7.jpeg);
    width: 300px;
}
#page2{
    background-image: url(../image/8.jpeg);
    width: 185px;
}
#page3{
    background-image: url(../image/IMG_5288.jpg);
    width: 250px;
}
#page4{
    background-image: url(../image/IMG_0756.jpg);
    width: 200px;
}

#scrollTopBtn,
.app .top .fa {
    color: #fff;
    border-radius: 50%
}

#scrollTopBtn {
    width: 60px;
    height: 60px;
    background-color: darkgrey;
    text-align: center;
    line-height: 60px;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: none
}

.fa-arrow-circle-up {
    position: fixed;
    bottom: 37px;
    right: 41px;
}

#scrollTopBtn.scroll {
    display: block
}

#scrollTopBtn:focus,
#scrollTopBtn:hover {
    text-decoration: none;
    background-color: goldenrod;
    outline: 0
}

.Originals,
.Favorite{
    padding-top: 30px;
}

@media screen and (max-width: 500px) {
    .jumb{
        height: 150px;
        padding-left: 10px;
    }
    .page{
        height:70px;
    }
    
.copy-right {
    text-align: center;
}
